
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-page {
    margin-top: 10%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;


    .photo-content {
        img {
            border-radius: 50%;
            width: 10rem;
        }
        margin-right: 5rem;
    }
        
    .text-content {
        p {
          display: inline;
          font-size: 20px;
          color:#F7F7F7;
        }
        .paragraph2 {
            margin-bottom: 2rem;
        }
       
      }
}
