.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.main {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-content {
  width: 95vw;
  height: 92vh;
  background-color: #3B4252;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home-container {

  .glasses-container {
    width: 60rem;
    filter: brightness(0) saturate(100%) invert(77%) sepia(18%) saturate(629%) hue-rotate(147deg) brightness(94%) contrast(83%);
  }

  .home-content {
    p {
      display: inline;
      font-size: 36px;
    }

    .name-content {
      display: block;
      font-size: 58px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}



